form.form-horizontal(name='modelForm')
  fieldset
    .form-group
      label.col-md-2.control-label name
      .col-md-10
    .form-group
      label.col-md-2.control-label code
      .col-md-10
    .form-group
      label.col-md-2.control-label price
      .col-md-10
    .form-group
      label.col-md-2.control-label image
      .col-md-10
    .form-group
      label.col-md-2.control-label comments
      .col-md-10
    include actions